# Cleaning and EDA

In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from scipy import stats
import statsmodels.api as sm
from statsmodels.sandbox.regression.predstd import wls_prediction_std

In [14]:
realEstate = pd.read_csv('Ames Real Estate Data.csv')
housePrice = pd.read_csv('Ames_HousePrice.csv', low_memory=False)
re_table = pd.read_csv('RealEstate_Table.csv')

### House Price Data

In [15]:
# dictionary of housePrice column meanings for quick reference
with open('housePrice_features') as hp_feat:
    hp_dict = {}
    for line in hp_feat.readlines():
        feature, description = [*line.split(':')]
        hp_dict[feature] = description

In [16]:
hp_dict['LotFrontage']

' Linear feet of street connected to property\n'

In [17]:
# function for viewing columns with missing values
def nas(df):
    return df.loc[:, df.isna().sum() > 0 ].isna().sum().sort_values(ascending = False)

In [18]:
# investigate / impute column NaNs one by one
nas(housePrice)

PoolQC          2571
MiscFeature     2483
Alley           2412
Fence           2055
FireplaceQu     1241
LotFrontage      462
GarageCond       129
GarageQual       129
GarageFinish     129
GarageYrBlt      129
GarageType       127
BsmtExposure      71
BsmtFinType2      70
BsmtFinType1      69
BsmtQual          69
BsmtCond          69
MasVnrArea        14
MasVnrType        14
BsmtHalfBath       2
BsmtFullBath       2
TotalBsmtSF        1
BsmtUnfSF          1
GarageCars         1
GarageArea         1
BsmtFinSF2         1
BsmtFinSF1         1
Electrical         1
dtype: int64

In [19]:
hp_dict['PoolQC']             
housePrice.PoolQC.unique()
housePrice.PoolQC = housePrice.PoolQC.fillna('none')
housePrice.groupby('PoolQC')['SalePrice'].agg(['mean', 'std', 'count'])

                 mean            std  count
PoolQC
Ex      465000.000000  212132.034356      2
Fa      215500.000000   48790.367902      2
Gd      215500.000000   62932.503526      2
TA      170500.000000   51529.117982      3
none    177786.980941   74571.704907   2571

In [20]:
hp_dict['MiscFeature']                                                           # drop
housePrice.groupby('MiscFeature')['SalePrice'].agg(['mean', 'std', 'count'])
housePrice = housePrice.drop('MiscFeature', axis = 1)

In [21]:
hp_dict['Alley']
# housePrice.Alley.unique()
housePrice.Alley.value_counts()
housePrice.Alley = housePrice.Alley.fillna('none')
housePrice.groupby('Alley')['SalePrice'].agg(['count','mean','std'])

       count           mean           std
Alley
Grvl     105  126345.990476  36101.160174
Pave      63  178559.698413  45650.146340
none    2412  180297.776949  76096.323125

In [22]:
hp_dict['Fence']  
# Good Privacy - GdPr
# Good Wood - GdWo
# Minimum Privacy - MnPr
# Minimum Wood - MnWw
housePrice.Fence = housePrice.Fence.fillna('none')
housePrice.groupby('Fence')['SalePrice'].agg(['count','mean','std'])

       count           mean           std
Fence
GdPrv    111  176726.576577  62331.695505
GdWo     103  144750.223301  47246.448542
MnPrv    301  146485.810631  44748.238487
MnWw      10  131965.000000  22333.856337
none    2055  184650.134307  78736.302160

In [102]:
hp_dict['FireplaceQu']
housePrice.FireplaceQu = housePrice.FireplaceQu.fillna('none')
housePrice.groupby('FireplaceQu')['SalePrice'].agg(['count','mean','std'])

             count           mean            std
FireplaceQu
Ex              35  340444.542857  112432.168836
Fa              70  168482.142857   36079.397184
Gd             619  223019.756058   91182.521787
Po              43  142528.674419   34116.467478
TA             572  204473.805944   63380.868389
none          1241  140650.717164   41618.136667

In [103]:
hp_dict['LotFrontage']                                 # simple regression to check r^2 and p-value
housePrice.LotFrontage.unique()                        # to see if NaN is worth assigning
housePrice.loc[housePrice.LotFrontage == 31]
housePrice.groupby('LotFrontage')['SalePrice'].agg(['count','mean','std'])

             count           mean           std
LotFrontage
21.0            46   95106.304348  13631.687979
22.0             1  217500.000000           NaN
24.0            49  144108.163265  20526.251857
25.0             1  260000.000000           NaN
26.0             3  183666.666667   6506.407099
...            ...            ...           ...
168.0            1  274725.000000           NaN
174.0            1  403000.000000           NaN
195.0            1  155000.000000           NaN
200.0            1  130000.000000           NaN
313.0            1  242000.000000           NaN

[126 rows x 3 columns]

In [104]:
hp_dict['GarageCond']                                                       
housePrice.GarageCond = housePrice.GarageCond.fillna('none')
housePrice.groupby('GarageCond')['SalePrice'].agg(['count','mean','std'])

            count           mean           std
GarageCond
Ex              3  125000.000000   3905.124838
Fa             67  108543.791045  37994.751260
Gd             14  188278.571429  72267.145196
Po             11  106618.181818  27559.238675
TA           2356  184277.848048  74495.805841
none          129  106814.604651  33428.251290

In [105]:
hp_dict['GarageQual']                                             # should we try to compile garage? (is that clusters?)
# housePrice.GarageQual = housePrice.GarageQual.fillna('none')              # compare relationship between rankings 
housePrice.groupby('GarageQual')['SalePrice'].agg(['count','mean','std'])           # across garage classifications

            count           mean            std
GarageQual
Ex              3  241000.000000  202680.166765
Fa            110  118884.100000   39721.189121
Gd             22  242833.500000  119708.930561
Po              4   94350.000000   31556.140448
TA           2312  184297.039792   73708.905056

In [106]:
hp_dict['GarageFinish']                                             
housePrice.GarageFinish = housePrice.GarageFinish.fillna('none')
housePrice.groupby('GarageFinish')['SalePrice'].agg(['count','mean','std'])

              count           mean           std
GarageFinish
Fin             621  231925.247987  89751.688867
RFn             718  199724.565460  64714.442479
Unf            1112  142254.430755  44088.459471
none            129  106814.604651  33428.251290

In [107]:
hp_dict['GarageYrBlt']                                                ## turn into date? what to do with NA          
# housePrice.GarageYrBlt = housePrice.GarageYrBlt.fillna('none')
housePrice.groupby('GarageYrBlt')['SalePrice'].agg(['count','mean','std'])

             count           mean            std
GarageYrBlt
1895.0           1   89000.000000            NaN
1900.0           5  124760.000000   31569.494769
1906.0           1  135000.000000            NaN
1908.0           1  240000.000000            NaN
1910.0          10  113530.000000   29867.226557
...            ...            ...            ...
2006.0          67  263140.507463   82094.024392
2007.0          67  258978.552239   98539.246379
2008.0          44  292216.795455   87551.849537
2009.0          12  297876.666667  126085.057796
2010.0           1  394432.000000            NaN

[100 rows x 3 columns]

In [108]:
hp_dict['GarageType']                                             
housePrice.GarageType = housePrice.GarageType.fillna('none')
housePrice.groupby('GarageType')['SalePrice'].agg(['count','mean','std'])

            count           mean           std
GarageType
2Types         21  154080.952381  36478.125213
Attchd       1527  200661.569090  75910.133901
Basment        27  155150.000000  33391.342153
BuiltIn       153  233054.464052  80768.842199
CarPort         9  110716.666667  27859.446333
Detchd        716  133291.765363  39764.381342
none          127  106048.622047  33116.655928

In [109]:
hp_dict['BsmtExposure']                                             
housePrice.BsmtExposure = housePrice.BsmtExposure.fillna('none')
housePrice.groupby('BsmtExposure')['SalePrice'].agg(['count','mean','std'])

              count           mean            std
BsmtExposure
Av              344  201482.340116   76537.790904
Gd              242  262873.061983  113165.344846
Mn              215  185463.330233   70096.651361
No             1708  163135.738876   57349.711224
none             71  112086.816901   42548.995226

In [110]:
hp_dict['BsmtFinType2']                                             
housePrice.BsmtFinType2 = housePrice.BsmtFinType2.fillna('none')
housePrice.groupby('BsmtFinType2')['SalePrice'].agg(['count','mean','std'])

              count           mean            std
BsmtFinType2
ALQ              53  188644.339623   82192.691433
BLQ              64  161466.140625   57560.260186
GLQ              32  211278.125000  101942.759031
LwQ              84  160725.297619   38958.990930
Rec              97  164338.402062   55684.315058
Unf            2180  181206.894954   76175.880106
none             70  111830.914286   44695.624964

In [111]:
hp_dict['BsmtFinType1']                                             
housePrice.BsmtFinType1 = housePrice.BsmtFinType1.fillna('none')
housePrice.groupby('BsmtFinType1')['SalePrice'].agg(['count','mean','std'])

              count           mean           std
BsmtFinType1
ALQ             397  163515.198992  48331.383704
BLQ             251  150852.749004  44819.815866
GLQ             753  231889.369190  87608.901286
LwQ             139  153106.834532  55352.198810
Rec             265  144782.030189  49548.992468
Unf             706  162617.998584  63191.379338
none             69  109335.710145  39810.106680

In [114]:
hp_dict['BsmtQual']                                            # does it matter if some basements (garages) don't have           
housePrice.BsmtQual = housePrice.BsmtQual.fillna('none')       # certain classifications, and are seen as 'none'
housePrice.groupby('BsmtQual')['SalePrice'].agg(['count','mean','std'])

' Height of the basement\n'

In [115]:
hp_dict['BsmtCond']                                             
housePrice.BsmtCond = housePrice.BsmtCond.fillna('none')
housePrice.groupby('BsmtCond')['SalePrice'].agg(['count','mean','std'])

          count           mean           std
BsmtCond
Ex            3  195000.000000  83216.584885
Fa           88  122382.875000  44683.700374
Gd          101  206709.128713  69427.407860
Po            3   95133.333333  34428.706530
TA         2316  181058.699914  74981.038735
none         69  109335.710145  39810.106680

In [116]:
nas

PoolQC          2571
MiscFeature     2483
Alley           2412
Fence           2055
FireplaceQu     1241
LotFrontage      462
GarageCond       129
GarageQual       129
GarageFinish     129
GarageYrBlt      129
GarageType       127
BsmtExposure      71
BsmtFinType2      70
BsmtFinType1      69
BsmtQual          69
BsmtCond          69
MasVnrArea        14
MasVnrType        14
BsmtHalfBath       2
BsmtFullBath       2
TotalBsmtSF        1
BsmtUnfSF          1
GarageCars         1
GarageArea         1
BsmtFinSF2         1
BsmtFinSF1         1
Electrical         1
dtype: int64

In [118]:
hp_dict['MasVnrType']
housePrice.groupby('MasVnrType')['SalePrice'].agg(['count','mean','std'])

            count           mean            std
MasVnrType
BrkCmn         20  145450.200000   43092.544242
BrkFace       804  208615.353234   82393.220408
None         1559  154365.317511   54210.546901
Stone         183  246845.519126  101989.391799

In [77]:
# LotFrontage

In [26]:
# finding columns with few unique values

two_val_columns = housePrice.loc[:, housePrice.apply(lambda x: x.nunique()) <= 2]
two_val_columns.value_counts()

Street  Alley  Utilities  CentralAir
Pave    Grvl   AllPub     Y             82
        Pave   AllPub     Y             56
        Grvl   AllPub     N             23
        Pave   AllPub     N              7
dtype: int64

In [27]:
(realEstate.isnull().sum() > 20000).sum()
# realEstate = realEstate.dropna()
# realEstate[realEstate.isnull().all()==True]

14