# EDA - House Price Data

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from scipy import stats
import statsmodels.api as sm
from statsmodels.sandbox.regression.predstd import wls_prediction_std
from sklearn.feature_selection import f_regression
from sklearn.linear_model import LinearRegression, HuberRegressor
# from

# Linear Regressions
### Simple, Multiple, Logistic, Penalized

**Purpose:** Testing out methods from class

In [3]:
housePrice = pd.read_csv('HousePrice_encoded.csv', index_col=0)

In [4]:
housePrice.head()

,PID,GrLivArea,SalePrice,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_VWD,SaleType_WD,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
1,909176150,856,126000,30,65.684474,7890,6,6,1939,1950,...,0,0,0,0,1,0,0,0,1,0
2,905476230,1049,139500,120,42.000000,4235,5,5,1984,1984,...,0,0,0,0,1,0,0,0,1,0
3,911128020,1001,124900,30,60.000000,6060,5,9,1930,2007,...,0,0,0,0,1,0,0,0,1,0
4,535377150,1039,114000,70,80.000000,8146,4,8,1900,2003,...,0,0,0,0,1,0,0,0,1,0
5,534177230,1665,227000,60,70.000000,8400,8,6,2001,2001,...,0,0,0,0,1,0,0,0,1,0